<!DOCTYPE html>
<html>

<head>
    <title>
        <%= dataSite.title %>
    </title>
    <%- include('../../includes/links'); -%>
        <link href="/quill-1.3.6/quill.snow.css" rel="stylesheet">
        <link href="/quill-1.3.6/quill.bubble.css" rel="stylesheet">

        <link href="/modules/editor/style.css" rel="stylesheet">
</head>

<body>
    <div id="galery"></div>
    <%- include('../../includes/menus'); -%>
        <div class="container">
            <h1>
                <%= dataSite.title %>
            </h1>
            <form action="/cemese/posts/update" method="post" id="form-save">
                <div class="row">
                    <div class="col-md-9 mb-2">
                        <div>
                            <div class="form-group">
                                <label for="friendly_url">Titulo</label>
                                <input value="<%= post.id %>" name="id" type="hidden" required />
                                <input class="form-control" value="<%= post.title %>" name="title" placeholder="title" type="text" required />
                                <small id="emailHelp" class="form-text text-muted">
                <%= post.friendly_url %></small>
                            </div>

                            <textarea name="text" class="d-none" id="target-editor"></textarea>

                            <div id="editor">
                                <%- post.text %>
                            </div>
                            <div id="counter">0</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success btn-block btn-form" type="submit">Crear</button>
                        <div class="card mt-3">
                            <div class="card-header">
                                Imágen destacada
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="thumbnail" id="img-thumbnail-value">
                                <img src="<%= post.thumbnail %>" alt="" id="img-thumbnail">
                            </div>
                            <div class="card-footer">
                                <div class="btn-primary btn" id="add-thumbnail">Agregar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script src="/quill-1.3.6/quill.js"></script>
        <script src="/quill-1.3.6/quill.min.js"></script>
        <script src="/quill-1.3.6/modules/image-resize.min.js"></script>
        <script src="/modules/galery-thumbnail/main.js"></script>
        <script src="/modules/editor/main.js"></script>
</body>

</html>